{% extends "frontend/base.html" %}
{% block content %}
<div class="message">
    <div class="well">
        <h4>留言:</h4>
        <div>
        <form role="form" action="{{ url_for('frontend.add_message') }}" method="post">
        {{ message_form.csrf_token }}
            <div class="form-group">
                {{ message_form.content(type="text", rows="3", class="form-control", id="content", placeholder="请输入留言内容...") }}
            </div>
            <button type="submit" class="btn btn-default pull-right" {% if not session['weibo_id']%}title="请先登录" disabled{% endif %}>提交</button>
        </form>
        </div>
    </div>
    {% if messages|length() > 0 %}
    <div class="footer">
        <hr>
        <div class="comments">
            <ul class="media-list">
            {% for message in messages %}
            {% set messageloop = loop %}
                <li class="media comment">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="{{ url_for('frontend.static', filename='frontend/img/favicon.ico') }}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="comment-text">
                            <span class="username media-heading">
                                    <span id="user-{{ messageloop.index }}">Maria Gonzales</span>
                                    <span class="text-muted pull-right">
                                        {{ momentjs(message.created_date).format("LLL") }}
                                    </span>
                            </span>
                            {{ message.content }}
                        </div>
                        <div class="comment-reply">
                            <span class="reply-link">
                                <a href="#" id="reply-{{ messageloop.index }}" onclick="replyParent(this);">
                                    {% if message.reply_num >0 %}
                                        回复({{ message.reply_num }})
                                    {% else %}
                                        回复
                                    {% endif %}
                                </a>
                            </span>
                            <span class="pull-right hidden" id='count-{{ messageloop.index }}'>还可输入130字</span>
                            <ul class="media-list hidden"  id='replylist-{{ messageloop.index }}'>
                                <li class="media comment">
                                    <div class="media-left">
                                        <a href="#">
                                            {% if session['profile_image_url'] %}
                                            <img class="media-object img-circle" src="{{ session['profile_image_url'] }}">
                                            {% else %}
                                            <img class="media-object img-circle" src="{{ url_for('frontend.static', filename='frontend/img/favicon.ico') }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="reply-box">
                                            <form  role="form" action="{{ url_for('frontend.add_reply') }}" method="post">
                                                {{ message_form.csrf_token }}
                                                <textarea class="form-control" id="replytextarea-{{ messageloop.index }}" name="content" placeholder="随便说点什么吧" rows="3" type="text"></textarea>
                                                <input class="form-control hidden" name="message_id" type="text" value="{{ message.id }}">
                                                <input class="form-control hidden" id="replyreply-{{ messageloop.index }}" name="reply_id" type="text" value="">
                                                <button type="submit" class="btn btn-default pull-right reply-button" {% if not session['weibo_id']%}title="请先登录" disabled{% endif %}>回复</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                {% if message.replies %}
                                {% for reply in MessageReplySorter(message.replies).sort() %}
                                <li class="media comment">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object img-circle" src="/frontend/static/frontend/img/favicon.ico" >
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="comment-text">
                                            <span class="username media-heading">
                                                <span id="user-{{ messageloop.index }}-{{ loop.index }}">Maria</span>
                                                <span class="text-muted pull-right">
                                                    {{ momentjs(reply.created_date).format("LLL") }}
                                                </span>
                                            </span>
                                            <span>
                                                {{ reply.content }}
                                            </span>
                                            <div class="reply-link">
                                                <a href="#" onclick="replyChild('{{ reply.id }}', '{{ messageloop.index }}', '{{ loop.index }}');">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript">
        function replyParent(reply){
            var itemindex = reply.id.substr(6);
            var replylist = document.getElementById('replylist-' + itemindex);
            var count = document.getElementById('count-' + itemindex);
            var replytextarea = document.getElementById('replytextarea-' + itemindex);
            var replieduser = document.getElementById('user-' + itemindex);
            if(replylist.className.indexOf('show') > 0)
            {
                replylist.className = 'media-list hidden';
                count.className = 'pull-right hidden';
            }
            else if(replylist.className.indexOf('hidden') > 0)
            {
                replylist.className = 'media-list show';
                count.className = 'pull-right show';
            }
            $(replytextarea).val("@" + $(replieduser).html() + ': ');
            return false;
        }
        function replyChild(replyid, parentIndex, childindex){
            var replyreply = document.getElementById('replyreply-' + parentIndex);
            var replytextarea = document.getElementById('replytextarea-' + parentIndex);
            var replieduser = document.getElementById('user-' + parentIndex + '-' + childindex);
            $(replytextarea).val("@" + $(replieduser).html() + ': ');
            $(replyreply).val(replyid);
        }
    </script>
{% endblock %}
