{% extends "frontend/base.html" %}
{% block content %}
<article class="post">
    <div class="post-head">
        <h1 class="post-title">
            {{ post.title }}
        </h1>
        <div class="tag-list">
            <i class="fa fa-tags"></i>
            {% for tag in post.tags %}
               <a>{{ tag.id }}</a>
            {% endfor %}
        </div>
        <div class="post-meta">
            <time>{{ momentjs(post.updated_date).format("LLLL") }}</time>
        </div>
    </div>
    <div class="post-content">
        <p>
            {{ MDconverter(post.content).render() }}
        </p>
    </div>
</article>
{% endblock %}
