{% extends "admin/base.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='admin/css/bootstrap-tagsinput.css')}}">
{% endblock %}
{% block content%}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">添加文章</h3>
    </div>
    <form id="postform" class="form-horizontal" 
        {% if edit_post_id != None %}
        action="{{ url_for('admin.edit_post', post_id=edit_post_id) }}"
        {% else %}
        action="{{ url_for('admin.add_post') }}"
        {% endif %}
         method="post">
        {{ form.csrf_token }}
        <div class="box-body">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    {{ form.title(type="text", class="form-control", id="title", placeholder="请输入标题...") }}
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    {{ form.status(class="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">栏目</label>
                <div class="col-sm-10">
                    {{ form.column(class="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">摘要</label>
                <div class="col-sm-10">
                    {{ form.abstract(type="text", class="form-control", id="abstract") }}
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">标签</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" id="tags_select" data-role="tagsinput">
                    </select>
                    {{ form.tags(type="hidden", id="tags") }}
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">内容</label>
                <div class="col-sm-10">
                    {{ form.content(type="text", class="form-control", id="content") }}
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("admin.post") }}'">Cancel</button>
            <button type="button" class="btn btn-info pull-right" onclick="submitPost()">Save</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<div class="modal fade" id="addColumnModal" tabindex="-1" role="dialog" aria-labelledby="addColumn">
    <div class="modal-dialog" role="document">
        <form class="form-horizontal addColumnForm" action="#" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加栏目</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="label" class="col-sm-2 control-label">栏目名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="label" name="label" placeholder="请输入栏目名称...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-info">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('admin.static',filename='admin/js/bootstrap-tagsinput.js') }}"></script>
<script>
function submitPost(){
    var postform = document.getElementById('postform');
    var tags_select = $("#tags_select");
    postform.tags.value = tags_select.val();
    postform.submit();
}


// Most options demonstrate the non-default behavior
var simplemde = new SimpleMDE({
    autofocus: true,
    autosave: {
        enabled: true,
        uniqueId: "MyUniqueID",
        delay: 1000,
    },
    blockStyles: {
        bold: "**",
        italic: "*"
    },
    element: document.getElementById("content"),
    indentWithTabs: false,
    insertTexts: {
        horizontalRule: ["", "\n\n-----\n\n"],
        image: ["![](http://", ")"],
        link: ["[", "](http://)"],
        table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
    },

    lineWrapping: false,
    parsingConfig: {
        allowAtxHeaderWithoutSpace: true,
        strikethrough: true,
        underscoresBreakWords: true,
    },
    placeholder: "请使用Markdown语法输入内容",
    renderingConfig: {
        singleLineBreaks: true,
        codeSyntaxHighlighting: true,
    },
    shortcuts: {
        drawTable: "Cmd-Alt-T"
    },
    spellChecker: false,
    status: false,
    status: ["autosave", "lines", "words", "cursor", {
        className: "keystrokes",
        defaultValue: function(el) {
            this.keystrokes = 0;
            el.innerHTML = "0 Keystrokes";
        },
        onUpdate: function(el) {
            el.innerHTML = ++this.keystrokes + " Keystrokes";
        }
    }], // Another optional usage, with a custom status bar item that counts keystrokes
    tabSize: 4,
    toolbarTips: false,
    toolbar: [
        {
            name: "bold",
            action: SimpleMDE.toggleBold,
            className: "fa fa-bold",
            title: "Bold",
        },
        {
            name: "italic",
            action: SimpleMDE.toggleItalic,
            className: "fa fa-italic",
            title: "Italic",
        },
        {
            name: "heading",
            action: SimpleMDE.toggleHeadingSmaller,
            className: "fa fa-header",
            title: "Heading",
        },
        {
            name: "strikethrough",
            action: SimpleMDE.toggleStrikethrough,
            className: "fa fa-strikethrough",
            title: "Strikethrough",
        },
        "|",
        {
            name: "code",
            action: SimpleMDE.toggleCodeBlock,
            className: "fa fa-code",
            title: "Code",
        },
        {
            name: "quote",
            action: SimpleMDE.toggleBlockquote,
            className: "fa fa-quote-left",
            title: "Quote",
        },
        {
            name: "unordered-list",
            action: SimpleMDE.toggleUnorderedList,
            className: "fa fa-list-ul",
            title: "Generic List",
        },
        {
            name: "ordered-list",
            action: SimpleMDE.toggleOrderedList,
            className: "fa fa-list-ol",
            title: "Numbered List",
        },
        "|",
        {
            name: "link",
            action: SimpleMDE.drawLink,
            className: "fa fa-link",
            title: "Create Link",
        },
        {
            name: "table",
            action: SimpleMDE.drawTable,
            className: "fa fa-table",
            title: "Insert Table",
        },
        {
            name: "image",
            action: function (editor){
                url = 'test'
                console.log($('.fa-picture-o').attr('class'))
                console.log(this)
                $("#addColumnModal").attr('class', 'modal fade in')
                $("#addColumnModal").attr('style', 'display: block; padding-left: 0px;')
                editor.options.insertTexts.image = ["![](http://", url + ")", "![", "](#url#)"]
                editor.drawImage()
                editor.options.insertTexts.image = ["![](http://", ")", "![", "](#url#)"]
            },
            className: "fa fa-picture-o",
            title: "Insert Image",
        },
        "|",
        {
            name: "horizontal-rule",
            action: SimpleMDE.drawHorizontalRule,
            className: "fa fa-minus",
            title: "Insert Horizontal Line",
        },
        {
            name: "preview",
            action: SimpleMDE.togglePreview,
            className: "fa fa-eye no-disable",
            title: "Toggle Preview",
        },
    ]
});
simplemde.clearAutosavedValue();
simplemde.value();
</script>
<script type="text/javascript">
    window.onload = function(){
        var postform = document.getElementById('postform');
        var tags_select = $("#tags_select");
        var form_tag_value = postform.tags.value
        if(form_tag_value != '')
        {
            var tag_list = form_tag_value.split(',');
            for (index in tag_list)
            {
                tags_select.tagsinput('add', tag_list[index]);
            }
        }
    }
    $(".fa-picture-o").attr("data-toggle","modal");
    $(".fa-picture-o").attr("data-targe","#addColumnModal");
    $(".close").on("click", function(event){
        $("#addColumnModal").attr('class', 'modal fade')
        $("#addColumnModal").attr('style', 'display: none;')
    })

</script>
{% if edit_post_id != None %}
{{ MDSetter(form.content.data).setMDvalue() }}
{% endif %}
{% endblock %}
